/* Container for the entire form */
.container {
    padding: 20px;
    min-width: 83vw;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for the toggle button */
  .toggle-button {
    background-color: white;
    color: #333;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 20%;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    align-self: flex-start;
  }
  
  .toggle-button:hover {
    background-color: #dedede;
    transform: scale(1.05);
  }
  
  /* Styling for the form heading */
  h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Form styling */
  .form {
    display: flex;
    flex-direction: column;
  }
  
  /* Container for the input field */
  .input-container {
    margin-bottom: 15px;
  }
  
  /* Label for the input field */
  .input-label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  /* Styling for the textarea */
  .textarea {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    height: 190px;
  }
  
  .textarea:focus {
    border-color: #4CAF50;
    outline: none;
  }
  
  /* Submit button styling */
  .submit-button {
    background-color: #007BFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .previous-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    width: 100%;
  }
  
  .previous-item div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .clearIcon {
    border: 1px solid red;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  padding: 2px;
  }
  
  .clearIcon:hover {
    transform: scale(1.1);
  }
  
  .previtem {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
  
    width: 100%;
    text-align: left;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  @media (max-width:700px){
    .toggle-button{
      padding: 5px 5px;
width: 150px;
    }
  }